<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery page</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/gallery.css'%}">
</head>
<body>
<h1>Our Products</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta doloremque eligendi enim eos error harum ipsa, odio odit saepe sed velit. Animi dolorem excepturi, expedita explicabo quos velit vero.</span><span>Ad aliquam amet cum dolores ducimus earum eligendi exercitationem explicabo fuga hic itaque, maxime optio pariatur possimus quibusdam quisquam sapiente sunt suscipit veritatis vero! Cupiditate deserunt et minus quia veniam!</span><span>Assumenda, blanditiis, dolor doloribus expedita, fugiat fugit ipsa ipsum labore laudantium minus modi nostrum omnis saepe sapiente similique vel vero! Aperiam cupiditate doloribus eius enim, ipsa odit similique sint! Hic!</span></p>
<img src="{% static 'assets/taxi_class.png' %}" alt="">
<img src="{% static 'assets/economy_class.png' %}" alt="">
<img src="{% static 'assets/business_class.png' %}" alt="">

</body>
</html>