<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage - Jijicart</title>
</head>
<body>
<h1>Welcome to Jijicart</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur corporis eos pariatur tempore, temporibus! Facere facilis itaque nesciunt numquam perferendis quis quisquam veritatis! Aut deserunt dolore eos incidunt nemo.</span><span>Atque cum delectus dicta, laboriosam magni molestiae quas sit? Accusantium atque consequuntur delectus deleniti, eaque esse id labore nesciunt odio optio, quisquam tempore ullam, vero. Aperiam fugit possimus soluta vel?</span><span>Ad, architecto atque commodi cum dignissimos distinctio ducimus esse hic id laboriosam modi nisi quos reprehenderit suscipit ullam vel voluptas. Dicta et excepturi maxime odio pariatur tempore tenetur vel velit!</span></p>
<button>Shop Now!!</button>

</body>
</html>