<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>

    {%load static%}
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
   <script src="{%static 'bootstrap/js/bootstap.min.js'%}"></script>
   <link rel="stylesheet" href="{%static 'css/services.css' %}">
</head>
<body>
    <h1 class = "text-danger">Our Services</h1>

    <a href="{%url 'index'  %}">Visit home</a>
    <br>
    <a href="{%url 'gallery'  %}">Visit gallery</a>
   

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, enim aliquid inventore suscipit nobis incidunt odit mollitia, rem sapiente accusamus porro officia nulla, recusandae quod quas optio error adipisci aspernatur!
    Laboriosam reprehenderit repellat ipsum sequi itaque in deserunt suscipit aliquid! Saepe adipisci quidem, ea sapiente eos tempore optio nesciunt veritatis, mollitia id facere debitis non nam molestiae exercitationem, eaque fugit.
    Ducimus ratione minus fuga, ullam tempore numquam eaque cumque tempora libero nobis sit. Quo at dicta sequi iusto voluptatem, repellendus atque nam quos fuga voluptates temporibus soluta perferendis dolorem ea!</p>
    <br>
    <button class = "btn btn-primary">Get Started</button>
    
</body>
</html>